/* font */
body{
    font-family: "Baloo Chettan 2",sans-serif;
}


/* YOUTUBE */
    #youtube{
        margin: auto;
        margin-top: 50px;
        height: 400px;
        width: 100%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }.yt{
        margin: auto;
        display: flex;
        justify-content: center;
        
    }
/* BANNERS */
    .banner{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }
/* BRANDS YOU LOVE */
.Box-b{
    display: grid;
    width:100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto);
    margin: auto;
    gap: 20px;
    margin-top: 50px;
    }
    .Box-b  .age{
        height: 100%;
        width: 100%;
    }
/* brands you love */
#b-love{
    display: grid;
     width: 70%;
     height: 120px;
     grid-template-columns: repeat(6,1fr) ;
     grid-template-rows: auto;
     margin: auto;
     justify-content: space-evenly;
     padding: 50px 0px 100px 0px;
     box-sizing: border-box;  
 }
 
 
 #b-love  img{
     height: 48%;
     width: 800%;
    
 }
/* DEALS of THE WEEKS */


#container-Dow{
    
     display: grid;
    grid-template-columns: repeat(4,1fr); 
     grid-template-rows: auto ; 
    gap: 30px ;
    width: 100%;
    margin: auto;
    height:auto;
    border:transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
#container-Dow img{
    width: 100%;
    height: 70%;
    padding: 10px ;
    box-sizing: border-box;
    
}
.box-dow{
    width: 85%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 50px;
    border-radius: 10px;
}.box-dow:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.price-dow{
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px;
}.dow-name{
    margin: auto;
    justify-content: center;
    text-align: center;
}#btndow{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -30px;
    opacity: 0%;
    margin-top: -250px;
    padding: 100px 30px 70px 30px;
    cursor: pointer;
   
    
  
    /* transform: translateY(100%); */
    
    
}
/* #imagediv{

} */
#alog:hover{
    color:blue;
}
.btn-cw{
    border: 0px;
    background-color: #f3cf2c;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;

}
#btndow:hover{
    opacity: 100%;
    cursor: pointer;
}
/* #bigprice{
    font-size: 20px;
    padding: 0px;
} */
/* new arrivals */

#container-New{
    
    display: grid;
   grid-template-columns: repeat(4,1fr); 
    grid-template-rows: auto ; 
   gap: 30px ;
   width: 100%;
   height:auto;
   margin: auto;
   border:transparent;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}#container-New img{
    width: 100%;
    height: 70%;
    padding: 10px ;
    box-sizing: border-box;
}

.Tcut{
    text-decoration: line-through;
    color: #1327BE;
    
    font-weight: 400;
}.pink4{
    border: 0.05px solid rgba(253, 195, 189, 0.959);
    margin: auto;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}
body{
         /* background-image:url("https://cdn.storehippo.com/s/5f447e14285691dcc9bfcdf2/ms.files/body_bg.png"); */
         font-family: "Baloo Chettan 2",sans-serif;
     }                                               
     
                                           /* NAVBAR CSS starts here */
    .navbox{
    height:40%;
    width:100%;
    /* border:1px solid red; */
    
}
.navbox>div:nth-child(1){
    height:100%;
    width:100%;
    display:flex;
    justify-content:space-around;
    text-align: center;
    /* border:1px solid black; */
}
.navbox>div:nth-child(1)>div{
    /* border:1px solid black; */
    width:15%;
    text-align:center;
    display:flex;
    justify-content: space-around;
}
.navbox>div:nth-child(1)>div>:hover{
    color:blue;
}

.navbox2{
    height:50px;
    width:auto;
    background-color: gold;
    display:flex;
    justify-content:flex-start;
    padding-left:12%;
    gap:20px;
}
.navbox2>div:hover{
    cursor:pointer;
    color:blue;
}
.shopcontent,.morecontent{
  display:none;
  background-color: #f9f9f9;
  width:auto;
  height:auto;
  padding-left: 10px ;
  padding-right: 20px;
  z-index: 1;
  position:absolute;
  line-height:5px;
  margin-top:-1%;
  color:black;
}
/* .shopcontent>p{
    width:80%;
    height:80%;
    margin:auto;
    display:flex;
    justify-content: center;
    line-height: 5px;
    
} */
.shopcontent>p:hover,.morecontent>p:hover{
    color:blue;
}

.shop-dropdown:hover  .shopcontent{
  display:grid;
  grid-template-columns:repeat(2,1fr);
}
.more-dropdown:hover .morecontent{
    display:grid;
  grid-template-columns:auto;
}

#cartcount,#favcount{
    display:inline;
    margin-left:5px;
    width:20px;
    color:white;
    text-align: center;
    border-radius:10px;
    padding:0px 4px 0px 4px;
    background-color: #999999;
}
.navbox>div>img{
    width:15%;
    height:80%;
}
select{
   border:none;
   background-color:transparent;
   font-size: medium;
   font-weight: 400;
   width:60px;
}


select~div{
    display:flex;
    align-items: center;
}

                                                /* NAVBAR CSS ends here */
#sliderdiv{
    width:100%;
    height:auto;
    /* border:1px solid blue; */
}

#sliderdiv~div{
    width:80%;
    height:auto;
    /* border:1px solid black; */
    margin:auto;
}
#sliderdiv>img{
    width:100%;
    height:100%;
}
#grid{
    /* border:1px solid red; */
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    
}
#sliderdiv~div img{
    width:100%;
    
}
select:hover{
    cursor:pointer;
    color:blue;
}
a{
 text-decoration: none;
 color:black;
}
a:hover{
    color:blue;
}
#grid:hover{
  cursor:pointer;
}
#sliderdiv{
    cursor:pointer;
}
#usersection{
    width:20%;
   font-weight:bold;
    font-size: large;
}